@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,600&display=swap');

body {
  font-family: Helvetica;
  background-color: #FFFCE2;


  .main-image{
    position: relative;
    display: block;
    margin: 20px auto;
    width: fit-content;
  }

  .presentation-text {
    position: absolute;
    top: 120px;
    left: -84px;

    p {
      font-family: 'Open Sans', sans-serif;
      margin: 0px;
      padding: 0px;
      font-size: 22px;
    }

    .main-text, .name{
      font-size: 46px;
    }

  }

  .fade {
    // position: absolute;
    display: none;
    opacity: 0;
  }
}
